/* 全体 */
body {
	background-color:#ffbd59; /*  背景色 */
	text-align: center; /* 中央寄せ */
	color:purple; /* 文字列 */
/*    min-width: 900px;  最小幅 */
}
header{
	color:white;
}


body a {
	color: #5500ff;
}


footer{
	background-color: #ffbd59;
	text-align: center; /* 中央寄せ */
	color:#000;
}


/* Text Box */
input[type="text"],
input[type="password"] {
  width: 300px;    /* 固定宽度 */
  height: 40px;    /* 固定高度 */
  padding: 8px 12px;
  font-size: 16px;
  box-sizing: border-box;
}

/* 仕切り線 */
hr {
  margin: 0;
  border: none;              
  height: 1px;              
  background-color: #ccc;    
}

/*errorList*/

.error-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.error-inline {
  display: inline-block; 
  margin-left: 8px;       
  color: red;
  font-size: 1 rem;
}

/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid  white;
}

/* 表 */
table {
    margin: 5px auto;
    min-width: 500px;
}
/* 表見出しセル */
table th ,td{
	color: #5500ff;
	font-size: large;
}

/*dropbox*/
select {
  font-size: 14px;           
  font-family: inherit;   

  width: 100px;            
  height: 25px;             

}
/* 他の表 */
table.signuptable {
  border: 0px solid #000;
  border-collapse: collapse;
  min-width: 500px;
}

table.signuptable th,
table.signuptable td {
  border: 0px solid #000;
  width: 200px;
  
}


table.posttable th,
table.posttable td {

  height: 40px;
}



/* 送信ボタン */
button.btn {
	margin: 2px;
	padding: 5px 5px;
	background-color: #b991bf;
	color: #ffffff;
	border: 0px solid gray;
	border-radius: 8px;
	width:50px;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button.btn:hover {
	background-color: #deaee6;
}

button {
	margin: 2px;
	padding: 5px 5px;
	background-color: #588ff5;
	color: #ffffff;
	border: 0px solid yellow;
	border-radius: 8px;
	width:150px;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #92b8fc;
}


img {
  width: 75%;
  height: auto;
}