<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
	<style>
	    #text-input, #submit-button {
	      display: none;
	      margin-top: 2px;
	    }
	  </style>
</head>
<body>
	
	<header th:replace="header"></header>

	<h2>食品新規登録</h2>
	<h3 th:text="${place} + ' にものを入りましょう！'"></h3>
	<p th:if="${place == '冷凍庫'}" style="color: brown; margin-top: 4px;">
		※ 野菜、卵、飲み物など冷凍庫に入れる時に気をつけてください！
		<br>
		※ 冷凍庫に入れる際は、食材を小分けにして保存しましょう！
	</p>
	<ul th:if="${error}">
			<p th:each="errormsg:${error}" th:text="${errormsg}" style="color: red;"></p>
		</ul>
		
	<br>
	<form action="/shokumane/add" method="post">
		<input type="hidden" name="place" th:value="${place}">
		食品名： <span style="color: red;"> * </span> <input type="text" name="foodName"><br>
		カテゴリー:
			<select name="categoryId">
			<option 
			th:each="category:${categories}"
			th:text="${category.name}"
			th:value="${category.id}">
			</option>
			</select>
<!--			&nbsp&nbsp&nbsp&nbspカテゴリー追加：<input type="text" name="newcat">-->
			<br>
		数量：<span style="color: red;"> * </span> <input type="number" name="quantity"><br>
		単位:
			<select name="countId">
			<option 
			th:each="count:${counts}"
			th:text="${count.name}"
			th:value="${count.id}">
			</option>
			</select><br>
		memo: 
		<br><textarea name="memo" row="4" column="10"></textarea>
		<br>消費・賞味期限:<input type="date" name="timeLimit"><br>
		<button>登録</button>
	</form>
	<a href="/shokumane/items">前の画面に戻る</a>
	<footer th:replace="footer"></footer>
</body>
</html>