<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
	
	<header th:replace="header"></header>
	
	<h2>食品更新</h2>
	
	<form action="/shokumane/edit" method="post">
		<p><input type="hidden" name="id" th:value="${item.id}"></p>
			食品名： <span style="color: red;"> * </span> 
			<input type="text" name="foodName" th:value="${item.foodname}"><br>
			カテゴリー:
				<select name="categoryId">
				<option th:selected="${category.id}==${item.categoryId}"
				th:each="category:${categories}"
				th:text="${category.name}"
				th:value="${category.id}">
				</option>
			
				</select><br>
			数量：<span style="color: red;"> * </span> 
			<input type="number" name="quantity" th:value="${item.quantity}"><br>
			memo: 
			<br><textarea name="memo" row="4" column="10" >[[${item.memo}]]</textarea>
			<br>消費・賞味期限:<input type="date" name="timeLimit" th:value="${item.timelimit}"><br>
			<button>登録</button>
		</form>
	
	<footer th:replace="footer"></footer>
</body>
</html>