<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
	
	<header th:replace="header"></header>
	
	<h2>食品更新</h2>
	
	<form action="/shokumane/edit" method="post">
		<input type="hidden" name="id" th:value="${food.id}">
		<table class="posttable" style="background-color: #f8d7da;">
			<tr><th>食品名： <span style="color: red;"> * </span></th>
			<td><input type="text" name="foodName" style="font: 16px sans-serif;
				padding: 3px 2px; width: 200px; height: 20px; 
				border: 1px solid #ccc; 
				box-sizing: content-box;" th:value="${food.foodName}"></td>
			</tr><tr><th>カテゴリー:</th><td>
				<select name="categoryId">
				<option th:selected="${category.id}==${food.categoryId}"
				th:each="category:${categories}"
				th:text="${category.name}"
				th:value="${category.id}">
				</option>
				</select></td></tr>
			<tr><th>数量：<span style="color: red;"> * </span> </th>
			<td><input type="number" name="quantity"  style="height: 20px; width: 150px; font: 16px sans-serif;" th:value="${food.quantity}"></td>
				</tr><tr><th>単位:</th><td>
				<select name="countId">
				<option th:selected="${count.id}==${food.countId}"
				th:each="count:${counts}"
				th:text="${count.name}"
				th:value="${count.id}">
				</option>
				</select></td></tr>
			<tr><th>memo: </th><td>
			<textarea name="memo" cols="25" rows="1"style="font: 16px sans-serif;" >[[${food.memo}]]</textarea></td></tr>
			<tr><th>
				消費・賞味期限:</th><td><input type="date" name="timeLimit" style="height: 20px;" th:value="${food.timeLimit}"></td>
			</tr>
			</table>
				<button>登録</button>
		</form>
		<br>
		<a href="/shokumane/items">前の画面に戻る</a>
	
	<footer th:replace="footer"></footer>
</body>
</html>