<header>
	<div class="text-area" th:text="${text}">aaa</div>
	<div style="background-color: #ffbd59;position: relative; display: inline-block;">
			<img th:src="@{/images/shokumane.png}" alt="Logo">
			<form th:action="@{/shokumane/refresh}" method="post">
			      <input type="submit" class="refresh-btn" title="なにこれ？">
			    </form>
				
				<style>
				     .refresh-btn {
				       position: absolute;
				       top: 40%; left: 54%;
				       width: 50px; height: 50px;
				       opacity: 0;
				       cursor: pointer;
				     }
				   </style>
				 </div>
			<br><br>
			
	[[${@account.name}]]さん&nbsp;&nbsp;がログインしています &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/shokumane/logout">ログアウト</a>
	
</header>


