<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
	
	<h1>食.Mane</h1>
	<hr>
	<br>
		
	
	
	<form action="/shokumane/login" method="post">
		<input type="text" name="email" placeholder="メールアドレス">
		<input type="password" name="password" placeholder="パスワード">
		<button>ログイン</button>
		<br><span th:text="${message}" style="color: red;"></span>
	</form>
	
	<form action="/shokumane/signup" method="get">
		<button>新規登録</button>
	</form>
	
	
	<footer th:replace="footer"></footer>
</body>
</html>