<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div style="background-color: #ffbd59;">
	<img th:src="@{/images/shokumane.png}" alt="Logo">
	
	<br><br><hr>
	<h1 style="color: white;">ログイン</h1>
	<span th:text="${message}" style="color: red;"></span><br>
	
	<form action="/shokumane/login" method="post">
		<input type="text" name="email" placeholder="メールアドレス"><br><br>
		<input type="password" name="password" placeholder="パスワード"><br><br>
		<button>ログイン</button>
		<br>
	</form>
	<br><br><br>
	<a href="/shokumane/signup" method="get">新規登録はこちら</a>
<!--	<form action="/shokumane/signup" method="get">-->
<!--		<button>新規登録</button>-->
<!--	</form>-->
	<br><br><br><br>
	</div>
	
	<footer th:replace="footer"></footer>
</body>
</html>