<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
	
	<h1>食.Mane</h1>
	<hr>
	<br>
	
    signup
	<ul th:if="${error}">
						<p th:each="errormsg:${error}" th:text="${errormsg}" style="color: red;"></p>
					</ul>
			<form action="/shokumane/signup" method="post">
				<table>
							<tr>
								<th>お名前</th><td><input type="text" name="name"></td>
							</tr>
							<tr>
								<th>e-mail</th><td><input type="text" name="email"></td>
							</tr>
							<tr>
								<th>パスワード</th><td><input type="password" name="password"></td>
							</tr>
							<tr>
								<th>パスワード再確認</th><td><input type="password" name="password_confirm"></td>
							</tr>
						</table>
				<button>登録</button>
			</form>	
	<footer th:replace="footer"></footer>
</body>
</html>