<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>
<body>
	
	<header th:replace="header"></header>
		<hr>

  <h1 style="color: white;">お客様情報</h1>
	<ul th:if="${error}" class="error-list">
						<li th:each="errormsg:${error}" >
							<span class="error-inline" th:text="${errormsg}" ></span>
						</li>
					</ul>			
					
			<form action="/shokumane/signup" method="post">
				<table class="signuptable">
							<tr>
								<th>お名前</th><td><input type="text" name="name"></td>
							</tr>
							<tr>
								<th>e-mail</th><td><input type="text" name="email"></td>
							</tr>
							<tr>
								<th>パスワード</th><td><input type="password" name="password"></td>
							</tr>
							<tr>
								<th>パスワード再確認</th><td><input type="password" name="password_confirm"></td>
							</tr>
						</table>
						<br>
				<button>登録</button>
			</form>	
			</div>		
	<footer th:replace="footer"></footer>
</body>
</html>